@{
    ViewBag.Title = "MainIndex";
    Layout = "~/Views/Shared/_TopLayout.cshtml";
}
<head>
    <link href="~/MyStyles/MainIndex.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <div id="placeholder"></div>
    <section>
        <ul class="social-media">
            <li><a href="#"></a><i class="fa fa-facebook"></i></li>
            <li><a href="#"></a><i class="fa fa-youtube"></i></li>
            <li><a href="#"></a><i class="fa fa-instagram"></i></li>
            <li><a href="#"></a><i class="fa fa-snapchat"></i></li>
        </ul>
    </section>     
</body>

