@{
    ViewBag.Title = "MainIndex";
    Layout = "~/Views/Shared/_TopLayout.cshtml";
}
<head>
    <link href="~/MyStyles/MainIndex.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/font-awesome/css/font-awesome.min.css">
</head>
<body>

</body>

