
@{
    ViewBag.Title = "ContactIndex";
    Layout = "~/Views/Shared/_TopLayout.cshtml";
}

<h2>ContactIndex</h2>

<section>
    <article>
        <p>
            Tel.: 0123456789
            <br />
            Max Mustermann
            Musterstraße 1
            12345 Musterstadt
        </p>
    </article>
</section>
<section>
    <article>
        @Html.DropDownList
    </article>
</section>